.banner-banner {
  width: 100%;
  display: flex;
  opacity: 1;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: 48px;
  padding-right: 48px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: center;
  background-image: radial-gradient(circle at center bottom, rgba(176, 14, 10, 0.61) 0.00%,rgb(0, 13, 15) 100.00%),url("https://images.unsplash.com/photo-1489731007795-388eee095ff6?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDEwOHx8cmFjaW5nfGVufDB8fHx8MTY1MDE5MTQ1OA&ixlib=rb-1.2.1&w=1500");
  background-position: right;
}
.banner-navlink {
  display: contents;
}
.banner-traqstarz {
  width: 396px;
  height: 275px;
  object-fit: cover;
  text-decoration: none;
}
.banner-navlink1 {
  display: contents;
}
.banner-icon {
  top: 44px;
  right: 22px;
  width: 24px;
  height: 24px;
  position: absolute;
  text-decoration: none;
}
.banner-root-class-name {
  width: 100%;
  align-self: center;
}
.banner-root-class-name1 {
  width: 100%;
  align-self: center;
}
.banner-root-class-name2 {
  width: 100%;
  align-self: center;
}
.banner-root-class-name3 {
  width: 100%;
  align-self: center;
}
.banner-root-class-name4 {
  width: 100%;
  align-self: center;
}
.banner-root-class-name5 {
  width: 100%;
  align-self: center;
}
.banner-root-class-name6 {
  width: 100%;
  align-self: center;
}
.banner-root-class-name7 {
  width: 100%;
  align-self: center;
}
.banner-root-class-name8 {
  width: 100%;
  align-self: center;
}
.banner-root-class-name9 {
  width: 100%;
  align-self: center;
}
.banner-root-class-name10 {
  width: 100%;
  align-self: center;
}

@media(max-width: 991px) {
  .banner-banner {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(circle at center bottom, rgba(176, 14, 10, 0.61) 0.00%,rgb(0, 0, 0) 100.00%),url('https://images.unsplash.com/photo-1489731007795-388eee095ff6?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDEwOHx8cmFjaW5nfGVufDB8fHx8MTY0OTg1MjE2MA&ixlib=rb-1.2.1&w=1500');
  }
  .banner-traqstarz {
    width: 396px;
    height: 275px;
  }
}
@media(max-width: 767px) {
  .banner-banner {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media(max-width: 479px) {
  .banner-banner {
    padding-top: 48px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 48px;
  }
}

.navbar-nav {
  flex: 0 0 auto;
  width: 1198px;
  height: 42px;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius24);
  justify-content: center;
  background-color: rgba(217, 217, 217, 0.51);
  border-top-right-radius: var(--dl-radius-radius-radius24);
}
.navbar-container {
  display: flex;
  align-self: center;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-about {
  transition: 0.3s;
  text-decoration: none;
}
.navbar-about:hover {
  color: var(--dl-color-danger-300);
}
.navbar-team-profile {
  transition: 0.3s;
  margin-left: 32px;
  text-decoration: none;
}
.navbar-team-profile:hover {
  color: var(--dl-color-danger-300);
}
.navbar-ideal-jobs {
  transition: 0.3s;
  margin-left: 32px;
  text-decoration: none;
}
.navbar-ideal-jobs:hover {
  color: var(--dl-color-danger-300);
}
.navbar-tools {
  transition: 0.3s;
  margin-left: 32px;
  text-decoration: none;
}
.navbar-tools:hover {
  color: var(--dl-color-danger-300);
}
.navbar-industry-data {
  transition: 0.3s;
  margin-left: 32px;
  text-decoration: none;
}
.navbar-industry-data:hover {
  color: var(--dl-color-danger-300);
}
.navbar-i-t-technology {
  transition: 0.3s;
  margin-left: 32px;
  text-decoration: none;
}
.navbar-i-t-technology:hover {
  color: var(--dl-color-danger-300);
}
.navbar-interview {
  transition: 0.3s;
  margin-left: 32px;
  text-decoration: none;
}
.navbar-interview:hover {
  color: var(--dl-color-danger-300);
}
.navbar-project {
  transition: 0.3s;
  margin-left: 32px;
  text-decoration: none;
}
.navbar-project:hover {
  color: var(--dl-color-danger-300);
}
.navbar-reflections {
  transition: 0.3s;
  margin-left: 32px;
  text-decoration: none;
}
.navbar-reflections:hover {
  color: var(--dl-color-danger-300);
}
.navbar-references {
  transition: 0.3s;
  margin-left: 32px;
  text-decoration: none;
}
.navbar-references:hover {
  color: var(--dl-color-danger-300);
}
.navbar-root-class-name {
  top: 373px;
  flex: 1;
  left: 0px;
  right: 0px;
  width: 97%;
  margin: auto;
  position: absolute;
  max-width: 1200px;
  align-self: center;
}
.navbar-root-class-name1 {
  top: 373px;
  flex: 1;
  left: 0px;
  right: 0px;
  width: 97%;
  margin: auto;
  position: absolute;
  max-width: 1200px;
  align-self: center;
}
.navbar-root-class-name2 {
  top: 373px;
  flex: 1;
  left: 0px;
  right: 0px;
  width: 97%;
  margin: auto;
  position: absolute;
  max-width: 1200px;
  align-self: center;
}
.navbar-root-class-name3 {
  top: 373px;
  flex: 1;
  left: 0px;
  right: 0px;
  width: 97%;
  margin: auto;
  position: absolute;
  max-width: 1200px;
  align-self: center;
}
.navbar-root-class-name4 {
  top: 373px;
  flex: 1;
  left: 0px;
  right: 0px;
  width: 97%;
  margin: auto;
  position: absolute;
  max-width: 1200px;
  align-self: center;
}
.navbar-root-class-name5 {
  top: 373px;
  flex: 1;
  left: 0px;
  right: 0px;
  width: 97%;
  margin: auto;
  position: absolute;
  max-width: 1200px;
  align-self: center;
}
.navbar-root-class-name6 {
  top: 373px;
  flex: 1;
  left: 0px;
  right: 0px;
  width: 97%;
  margin: auto;
  position: absolute;
  max-width: 1200px;
  align-self: center;
}
.navbar-root-class-name7 {
  top: 373px;
  flex: 1;
  left: 0px;
  right: 0px;
  width: 97%;
  margin: auto;
  position: absolute;
  max-width: 1200px;
  align-self: center;
}
.navbar-root-class-name8 {
  top: 373px;
  flex: 1;
  left: 0px;
  right: 0px;
  width: 97%;
  margin: auto;
  position: absolute;
  max-width: 1200px;
  align-self: center;
}
.navbar-root-class-name9 {
  top: 373px;
  flex: 1;
  left: 0px;
  right: 0px;
  width: 97%;
  margin: auto;
  position: absolute;
  max-width: 1200px;
  align-self: center;
}
.navbar-root-class-name10 {
  top: 373px;
  flex: 1;
  left: 0px;
  right: 0px;
  width: 97%;
  margin: auto;
  position: absolute;
  max-width: 1200px;
  align-self: center;
}

@media(max-width: 991px) {
  .navbar-container {
    display: none;
    align-items: flex-end;
  }
}
@media(max-width: 767px) {
  .navbar-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navbar-team-profile {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navbar-ideal-jobs {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navbar-tools {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navbar-industry-data {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navbar-i-t-technology {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navbar-interview {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navbar-project {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navbar-reflections {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navbar-references {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.footer-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(217, 217, 217, 0.23);
  border-width: 1px;
  flex-direction: column;
  justify-content: flex-start;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.footer-footer {
  width: 100%;
  height: 54px;
  display: flex;
  align-self: center;
  padding-top: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
  background-color: rgba(217, 217, 217, 0.51);
}
.footer-github-logo {
  flex: 0 0 auto;
  width: 24px;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
}
.footer-link {
  display: contents;
}
.footer-github-logo1 {
  fill: var(--dl-color-gray-black);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.footer-httpsgithubcom-michelle-towers-assignment2 {
  color: var(--dl-color-gray-black);
  align-self: flex-start;
  text-align: center;
  text-decoration: none;
}

.footer-root-class-name1 {
  align-self: center;
}


















.our-favouritethings-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(255, 224, 224, 0.42);
}
