.navbar-nav {
  flex: 0 0 auto;
  width: 1198px;
  height: 42px;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius24);
  justify-content: center;
  background-color: rgba(217, 217, 217, 0.51);
  border-top-right-radius: var(--dl-radius-radius-radius24);
}
.navbar-container {
  display: flex;
  align-self: center;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-about {
  transition: 0.3s;
  text-decoration: none;
}
.navbar-about:hover {
  color: var(--dl-color-danger-300);
}
.navbar-team-profile {
  transition: 0.3s;
  margin-left: 32px;
  text-decoration: none;
}
.navbar-team-profile:hover {
  color: var(--dl-color-danger-300);
}
.navbar-ideal-jobs {
  transition: 0.3s;
  margin-left: 32px;
  text-decoration: none;
}
.navbar-ideal-jobs:hover {
  color: var(--dl-color-danger-300);
}
.navbar-tools {
  transition: 0.3s;
  margin-left: 32px;
  text-decoration: none;
}
.navbar-tools:hover {
  color: var(--dl-color-danger-300);
}
.navbar-industry-data {
  transition: 0.3s;
  margin-left: 32px;
  text-decoration: none;
}
.navbar-industry-data:hover {
  color: var(--dl-color-danger-300);
}
.navbar-i-t-technology {
  transition: 0.3s;
  margin-left: 32px;
  text-decoration: none;
}
.navbar-i-t-technology:hover {
  color: var(--dl-color-danger-300);
}
.navbar-interview {
  transition: 0.3s;
  margin-left: 32px;
  text-decoration: none;
}
.navbar-interview:hover {
  color: var(--dl-color-danger-300);
}
.navbar-project {
  transition: 0.3s;
  margin-left: 32px;
  text-decoration: none;
}
.navbar-project:hover {
  color: var(--dl-color-danger-300);
}
.navbar-reflections {
  transition: 0.3s;
  margin-left: 32px;
  text-decoration: none;
}
.navbar-reflections:hover {
  color: var(--dl-color-danger-300);
}
.navbar-references {
  transition: 0.3s;
  margin-left: 32px;
  text-decoration: none;
}
.navbar-references:hover {
  color: var(--dl-color-danger-300);
}
.navbar-root-class-name {
  top: 373px;
  flex: 1;
  left: 0px;
  right: 0px;
  width: 97%;
  margin: auto;
  position: absolute;
  max-width: 1200px;
  align-self: center;
}
.navbar-root-class-name1 {
  top: 373px;
  flex: 1;
  left: 0px;
  right: 0px;
  width: 97%;
  margin: auto;
  position: absolute;
  max-width: 1200px;
  align-self: center;
}
.navbar-root-class-name2 {
  top: 373px;
  flex: 1;
  left: 0px;
  right: 0px;
  width: 97%;
  margin: auto;
  position: absolute;
  max-width: 1200px;
  align-self: center;
}
.navbar-root-class-name3 {
  top: 373px;
  flex: 1;
  left: 0px;
  right: 0px;
  width: 97%;
  margin: auto;
  position: absolute;
  max-width: 1200px;
  align-self: center;
}
.navbar-root-class-name4 {
  top: 373px;
  flex: 1;
  left: 0px;
  right: 0px;
  width: 97%;
  margin: auto;
  position: absolute;
  max-width: 1200px;
  align-self: center;
}
.navbar-root-class-name5 {
  top: 373px;
  flex: 1;
  left: 0px;
  right: 0px;
  width: 97%;
  margin: auto;
  position: absolute;
  max-width: 1200px;
  align-self: center;
}
.navbar-root-class-name6 {
  top: 373px;
  flex: 1;
  left: 0px;
  right: 0px;
  width: 97%;
  margin: auto;
  position: absolute;
  max-width: 1200px;
  align-self: center;
}
.navbar-root-class-name7 {
  top: 373px;
  flex: 1;
  left: 0px;
  right: 0px;
  width: 97%;
  margin: auto;
  position: absolute;
  max-width: 1200px;
  align-self: center;
}
.navbar-root-class-name8 {
  top: 373px;
  flex: 1;
  left: 0px;
  right: 0px;
  width: 97%;
  margin: auto;
  position: absolute;
  max-width: 1200px;
  align-self: center;
}
.navbar-root-class-name9 {
  top: 373px;
  flex: 1;
  left: 0px;
  right: 0px;
  width: 97%;
  margin: auto;
  position: absolute;
  max-width: 1200px;
  align-self: center;
}
.navbar-root-class-name10 {
  top: 373px;
  flex: 1;
  left: 0px;
  right: 0px;
  width: 97%;
  margin: auto;
  position: absolute;
  max-width: 1200px;
  align-self: center;
}

@media(max-width: 991px) {
  .navbar-container {
    display: none;
    align-items: flex-end;
  }
}
@media(max-width: 767px) {
  .navbar-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navbar-team-profile {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navbar-ideal-jobs {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navbar-tools {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navbar-industry-data {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navbar-i-t-technology {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navbar-interview {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navbar-project {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navbar-reflections {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navbar-references {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.banner-banner {
  width: 100%;
  display: flex;
  opacity: 1;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: 48px;
  padding-right: 48px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: center;
  background-image: radial-gradient(circle at center bottom, rgba(176, 14, 10, 0.61) 0.00%,rgb(0, 13, 15) 100.00%),url("https://images.unsplash.com/photo-1489731007795-388eee095ff6?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDEwOHx8cmFjaW5nfGVufDB8fHx8MTY1MDE5MTQ1OA&ixlib=rb-1.2.1&w=1500");
  background-position: right;
}
.banner-navlink {
  display: contents;
}
.banner-traqstarz {
  width: 396px;
  height: 275px;
  object-fit: cover;
  text-decoration: none;
}
.banner-root-class-name {
  width: 100%;
  align-self: center;
}
.banner-root-class-name1 {
  width: 100%;
  align-self: center;
}
.banner-root-class-name2 {
  width: 100%;
  align-self: center;
}
.banner-root-class-name3 {
  width: 100%;
  align-self: center;
}
.banner-root-class-name4 {
  width: 100%;
  align-self: center;
}
.banner-root-class-name5 {
  width: 100%;
  align-self: center;
}
.banner-root-class-name6 {
  width: 100%;
  align-self: center;
}
.banner-root-class-name7 {
  width: 100%;
  align-self: center;
}
.banner-root-class-name8 {
  width: 100%;
  align-self: center;
}
.banner-root-class-name9 {
  width: 100%;
  align-self: center;
}
.banner-root-class-name10 {
  width: 100%;
  align-self: center;
}

@media(max-width: 991px) {
  .banner-banner {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(circle at center bottom, rgba(176, 14, 10, 0.61) 0.00%,rgb(0, 0, 0) 100.00%),url('https://images.unsplash.com/photo-1489731007795-388eee095ff6?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDEwOHx8cmFjaW5nfGVufDB8fHx8MTY0OTg1MjE2MA&ixlib=rb-1.2.1&w=1500');
  }
  .banner-traqstarz {
    width: 396px;
    height: 275px;
  }
}
@media(max-width: 767px) {
  .banner-banner {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media(max-width: 479px) {
  .banner-banner {
    padding-top: 48px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 48px;
  }
}

.footer-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(217, 217, 217, 0.23);
  border-width: 1px;
  flex-direction: column;
  justify-content: flex-start;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.footer-footer {
  width: 100%;
  height: 54px;
  display: flex;
  align-self: center;
  padding-top: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
  background-color: rgba(217, 217, 217, 0.51);
}
.footer-github-logo {
  flex: 0 0 auto;
  width: 24px;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
}
.footer-github-logo1 {
  fill: var(--dl-color-gray-black);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.footer-httpsgithubcom-michelle-towers-assignment2 {
  color: var(--dl-color-gray-black);
  align-self: flex-start;
  text-align: center;
}
.footer-navlink {
  display: contents;
}
.footer-icon1 {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}

.footer-root-class-name1 {
  align-self: center;
}


















.references-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(255, 224, 224, 0.42);
}
.references-container1 {
  display: flex;
  align-items: center;
  padding-top: 100px;
  flex-direction: column;
  background-color: rgba(255, 224, 224, 0.42);
}
.references-references {
  color: var(--dl-color-gray-black);
  width: 70%;
  font-size: 12px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-top: var(--dl-space-space-unit);
  text-align: left;
  font-family: Verdana;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-doubleunit);
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius24);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
  background-color: rgba(255, 255, 255, 0.42);
  border-bottom-right-radius: var(--dl-radius-radius-radius24);
}
.references-text001 {
  color: var(--dl-color-primary-300);
}
.references-text005 {
  color: var(--dl-color-primary-300);
}
.references-text009 {
  color: var(--dl-color-primary-300);
}
.references-text014 {
  color: var(--dl-color-primary-300);
}
.references-text019 {
  color: var(--dl-color-primary-300);
}
.references-text024 {
  color: var(--dl-color-primary-300);
}
.references-text029 {
  color: var(--dl-color-primary-300);
}
.references-text034 {
  color: var(--dl-color-primary-300);
}
.references-text038 {
  color: var(--dl-color-primary-300);
}
.references-text043 {
  color: var(--dl-color-primary-300);
}
.references-text048 {
  color: var(--dl-color-primary-300);
}
.references-text052 {
  color: var(--dl-color-primary-300);
}
.references-text057 {
  color: var(--dl-color-primary-300);
}
.references-text063 {
  color: var(--dl-color-primary-300);
}
.references-text069 {
  color: var(--dl-color-primary-300);
}
.references-text075 {
  color: var(--dl-color-primary-300);
}
.references-text081 {
  color: var(--dl-color-primary-300);
}
.references-text087 {
  color: var(--dl-color-primary-300);
}
.references-text093 {
  color: var(--dl-color-primary-300);
}
.references-text099 {
  color: var(--dl-color-primary-300);
}
.references-text105 {
  color: var(--dl-color-primary-300);
}
.references-text111 {
  color: var(--dl-color-primary-300);
}
.references-text117 {
  color: var(--dl-color-primary-300);
}
.references-text122 {
  color: var(--dl-color-primary-300);
}
.references-text128 {
  color: var(--dl-color-primary-300);
}
.references-text134 {
  color: var(--dl-color-primary-300);
}
.references-text140 {
  color: var(--dl-color-primary-300);
}
.references-text146 {
  color: var(--dl-color-primary-300);
}
.references-text152 {
  color: var(--dl-color-primary-300);
}
.references-text157 {
  color: var(--dl-color-primary-300);
}
.references-text161 {
  color: var(--dl-color-primary-300);
}
.references-text165 {
  color: var(--dl-color-primary-300);
}
.references-text169 {
  color: var(--dl-color-primary-300);
}
.references-text173 {
  color: var(--dl-color-primary-300);
}
.references-text177 {
  color: var(--dl-color-primary-300);
}
.references-text181 {
  color: var(--dl-color-primary-300);
}
.references-text185 {
  color: var(--dl-color-primary-300);
}
.references-text189 {
  color: var(--dl-color-primary-300);
}
.references-text193 {
  color: var(--dl-color-primary-300);
}
.references-text197 {
  color: var(--dl-color-primary-300);
}
.references-text201 {
  color: var(--dl-color-primary-300);
}
.references-text205 {
  color: var(--dl-color-primary-300);
}
.references-text209 {
  color: var(--dl-color-primary-300);
}
.references-text213 {
  color: var(--dl-color-primary-300);
}
.references-text217 {
  color: var(--dl-color-primary-300);
}
.references-text221 {
  color: var(--dl-color-primary-300);
}
.references-text225 {
  color: var(--dl-color-primary-300);
}
.references-text229 {
  color: var(--dl-color-primary-300);
}
.references-text233 {
  color: var(--dl-color-primary-300);
}
.references-text237 {
  color: var(--dl-color-primary-300);
}
.references-text241 {
  color: var(--dl-color-primary-300);
}
.references-text245 {
  color: var(--dl-color-primary-300);
}
.references-text249 {
  color: var(--dl-color-primary-300);
}
.references-text253 {
  color: var(--dl-color-primary-300);
}
.references-text257 {
  color: var(--dl-color-primary-300);
}
.references-text261 {
  color: var(--dl-color-primary-300);
}
.references-text265 {
  color: var(--dl-color-primary-300);
}
.references-text269 {
  color: var(--dl-color-primary-300);
}
.references-text273 {
  color: var(--dl-color-primary-300);
}
.references-text277 {
  color: var(--dl-color-primary-300);
}
.references-text281 {
  color: var(--dl-color-primary-300);
}
.references-text285 {
  color: var(--dl-color-primary-300);
}
.references-text289 {
  color: var(--dl-color-primary-300);
}
.references-text293 {
  color: var(--dl-color-primary-300);
}
.references-text297 {
  color: var(--dl-color-primary-300);
}
.references-text301 {
  color: var(--dl-color-primary-300);
}
.references-text305 {
  color: var(--dl-color-primary-300);
}
.references-text309 {
  color: var(--dl-color-primary-300);
}
.references-text313 {
  color: var(--dl-color-primary-300);
}
.references-text318 {
  color: var(--dl-color-primary-300);
}
.references-text322 {
  color: var(--dl-color-primary-300);
}
.references-text328 {
  color: var(--dl-color-primary-300);
}
.references-text332 {
  color: var(--dl-color-primary-300);
}
.references-text336 {
  color: var(--dl-color-primary-300);
}
.references-text340 {
  color: var(--dl-color-primary-300);
}
.references-text344 {
  color: var(--dl-color-primary-300);
}
.references-text348 {
  color: var(--dl-color-primary-300);
}
.references-text352 {
  color: var(--dl-color-primary-300);
}
.references-text356 {
  color: var(--dl-color-primary-300);
}
.references-text361 {
  color: var(--dl-color-primary-300);
}
.references-text365 {
  color: var(--dl-color-primary-300);
}
.references-text369 {
  color: var(--dl-color-primary-300);
}
.references-text374 {
  color: var(--dl-color-primary-300);
}
.references-text379 {
  color: var(--dl-color-primary-300);
}
.references-text385 {
  color: var(--dl-color-primary-300);
}
.references-text391 {
  color: var(--dl-color-primary-300);
}
.references-text397 {
  color: var(--dl-color-primary-300);
}
.references-text403 {
  color: var(--dl-color-primary-300);
}
.references-text409 {
  color: var(--dl-color-primary-300);
}
.references-text415 {
  color: var(--dl-color-primary-300);
}
.references-text421 {
  color: var(--dl-color-primary-300);
}
.references-text427 {
  color: var(--dl-color-primary-300);
}
.references-text433 {
  color: var(--dl-color-primary-300);
}
.references-text439 {
  color: var(--dl-color-primary-300);
}
.references-text444 {
  color: var(--dl-color-primary-300);
}
.references-text450 {
  color: var(--dl-color-primary-300);
}
.references-text456 {
  color: var(--dl-color-primary-300);
}
.references-text462 {
  color: var(--dl-color-primary-300);
}
.references-text467 {
  color: var(--dl-color-primary-300);
}
.references-text470 {
  color: var(--dl-color-primary-300);
}
.references-text474 {
  color: var(--dl-color-primary-300);
}
.references-text479 {
  color: var(--dl-color-primary-300);
}
.references-text483 {
  color: var(--dl-color-primary-300);
}
.references-text487 {
  color: var(--dl-color-primary-300);
}
.references-text492 {
  color: var(--dl-color-primary-300);
}
.references-text498 {
  color: var(--dl-color-primary-300);
}
.references-text503 {
  color: var(--dl-color-primary-300);
}
.references-text508 {
  color: var(--dl-color-primary-300);
}
.references-text513 {
  color: var(--dl-color-primary-300);
}
.references-text518 {
  color: var(--dl-color-primary-300);
}
.references-text523 {
  color: var(--dl-color-primary-300);
}
.references-text528 {
  color: var(--dl-color-primary-300);
}
.references-text533 {
  color: var(--dl-color-primary-300);
}
.references-text538 {
  color: var(--dl-color-primary-300);
}
.references-text543 {
  color: var(--dl-color-primary-300);
}
.references-text548 {
  color: var(--dl-color-primary-300);
}
.references-text553 {
  color: var(--dl-color-primary-300);
}
.references-text558 {
  color: var(--dl-color-primary-300);
}
.references-text563 {
  color: var(--dl-color-primary-300);
}
.references-text568 {
  color: var(--dl-color-primary-300);
}
.references-text573 {
  color: var(--dl-color-primary-300);
}
.references-text578 {
  color: var(--dl-color-primary-300);
}
.references-text584 {
  color: var(--dl-color-primary-300);
}
.references-text590 {
  color: var(--dl-color-primary-300);
}
.references-text595 {
  color: var(--dl-color-primary-300);
}
.references-text601 {
  color: var(--dl-color-primary-300);
}
.references-text606 {
  color: var(--dl-color-primary-300);
}
.references-text612 {
  color: var(--dl-color-primary-300);
}
.references-text616 {
  color: var(--dl-color-primary-300);
}
.references-text620 {
  color: var(--dl-color-primary-300);
}
.references-text625 {
  color: var(--dl-color-primary-300);
}
.references-text629 {
  color: var(--dl-color-primary-300);
}
.references-text633 {
  color: var(--dl-color-primary-300);
}
.references-text637 {
  color: var(--dl-color-primary-300);
}
.references-text641 {
  color: var(--dl-color-primary-300);
}
.references-text645 {
  color: var(--dl-color-primary-300);
}
.references-text649 {
  color: var(--dl-color-primary-300);
}
.references-text653 {
  color: var(--dl-color-primary-300);
}
.references-text657 {
  color: var(--dl-color-primary-300);
}
.references-text661 {
  color: var(--dl-color-primary-300);
}
.references-text665 {
  color: var(--dl-color-primary-300);
}
.references-text669 {
  color: var(--dl-color-primary-300);
}
.references-text674 {
  color: var(--dl-color-primary-300);
}
.references-text678 {
  color: var(--dl-color-primary-300);
}
.references-text682 {
  color: var(--dl-color-primary-300);
}
.references-text686 {
  color: var(--dl-color-primary-300);
}
.references-text690 {
  color: var(--dl-color-primary-300);
}
.references-text696 {
  color: var(--dl-color-primary-300);
}
.references-text702 {
  color: var(--dl-color-primary-300);
}
.references-text709 {
  color: var(--dl-color-primary-300);
}
.references-text714 {
  color: var(--dl-color-primary-300);
}
.references-text721 {
  color: var(--dl-color-primary-300);
}
.references-text725 {
  color: var(--dl-color-primary-300);
}
.references-text729 {
  color: var(--dl-color-primary-300);
}
.references-text733 {
  color: var(--dl-color-primary-300);
}
@media(max-width: 991px) {
  .references-references {
    text-align: center;
  }
}
