.banner-banner {
  width: 100%;
  display: flex;
  opacity: 1;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: 48px;
  padding-right: 48px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: center;
  background-image: radial-gradient(circle at center bottom, rgba(176, 14, 10, 0.61) 0.00%,rgb(0, 13, 15) 100.00%),url("https://images.unsplash.com/photo-1489731007795-388eee095ff6?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDEwOHx8cmFjaW5nfGVufDB8fHx8MTY1MDE5MTQ1OA&ixlib=rb-1.2.1&w=1500");
  background-position: right;
}
.banner-navlink {
  display: contents;
}
.banner-traqstarz {
  width: 396px;
  height: 275px;
  object-fit: cover;
  text-decoration: none;
}
.banner-navlink1 {
  display: contents;
}
.banner-icon {
  top: 44px;
  fill: #3d3d3d;
  right: 22px;
  width: 24px;
  height: 24px;
  position: absolute;
  text-decoration: none;
}
.banner-root-class-name {
  width: 100%;
  align-self: center;
}
.banner-root-class-name1 {
  width: 100%;
  align-self: center;
}
.banner-root-class-name2 {
  width: 100%;
  align-self: center;
}
.banner-root-class-name3 {
  width: 100%;
  align-self: center;
}
.banner-root-class-name4 {
  width: 100%;
  align-self: center;
}
.banner-root-class-name5 {
  width: 100%;
  align-self: center;
}
.banner-root-class-name6 {
  width: 100%;
  align-self: center;
}
.banner-root-class-name7 {
  width: 100%;
  align-self: center;
}
.banner-root-class-name8 {
  width: 100%;
  align-self: center;
}
.banner-root-class-name9 {
  width: 100%;
  align-self: center;
}
.banner-root-class-name10 {
  width: 100%;
  align-self: center;
}

@media(max-width: 991px) {
  .banner-banner {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(circle at center bottom, rgba(176, 14, 10, 0.61) 0.00%,rgb(0, 0, 0) 100.00%),url('https://images.unsplash.com/photo-1489731007795-388eee095ff6?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDEwOHx8cmFjaW5nfGVufDB8fHx8MTY0OTg1MjE2MA&ixlib=rb-1.2.1&w=1500');
  }
  .banner-traqstarz {
    width: 396px;
    height: 275px;
  }
}
@media(max-width: 767px) {
  .banner-banner {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media(max-width: 479px) {
  .banner-banner {
    padding-top: 48px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 48px;
  }
}
