<div>
  <link href="./mainpageheader.css" rel="stylesheet" />
  <header data-role="Accordion" class="mainpageheader-header">
    <div class="mainpageheader-container">
      <nav class="mainpageheader-nav">
        <nav class="navbar-nav">
          <div class="navbar-container">
            <a href="about-us.html" class="navbar-about"><span>About</span></a>
            <a href="team-profile.html" class="navbar-team-profile">
              <span>Team Profile</span>
            </a>
            <a href="ideal-jobs.html" class="navbar-ideal-jobs">
              <span>Ideal Jobs</span>
            </a>
            <a href="tools.html" class="navbar-tools"><span>Tools</span></a>
            <a href="industry-data.html" class="navbar-industry-data">
              <span>Industry Data</span>
            </a>
            <a href="i-t-technologies.html" class="navbar-i-t-technology">
              <span>IT Technology</span>
            </a>
            <a href="i-t-interview.html" class="navbar-interview">
              <span>Interview</span>
            </a>
            <a href="our-project.html" class="navbar-project">
              <span>Project</span>
            </a>
            <a href="reflections.html" class="navbar-reflections">
              <span>Reflections</span>
            </a>
            <a href="references.html" class="navbar-references">
              <span>References</span>
            </a>
          </div>
        </nav>
      </nav>
    </div>
  </header>
</div>
