.our-project-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(255, 224, 224, 0.42);
}
.our-project-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 100px;
  flex-direction: column;
}
.our-project-traqstarz-logo {
  width: 270px;
  height: 190px;
  object-fit: cover;
}
.our-project-overview-header {
  color: var(--dl-color-gray-black);
  width: 100%;
  font-size: 3rem;
  font-style: normal;
  margin-top: var(--dl-space-space-fiveunits);
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
}
.our-project-overview-text {
  color: var(--dl-color-gray-black);
  width: 70%;
  font-size: 12px;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-top: var(--dl-space-space-unit);
  text-align: left;
  font-family: Verdana;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-doubleunit);
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius24);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
  background-color: rgba(255, 255, 255, 0.42);
  border-bottom-right-radius: var(--dl-radius-radius-radius24);
}
.our-project-motivation-header {
  color: var(--dl-color-gray-black);
  width: 100%;
  font-size: 3rem;
  font-style: normal;
  margin-top: var(--dl-space-space-fiveunits);
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
}
.our-project-motivation-text {
  color: var(--dl-color-gray-black);
  width: 70%;
  font-size: 12px;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-top: var(--dl-space-space-unit);
  text-align: left;
  font-family: Verdana;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-doubleunit);
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius24);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
  background-color: rgba(255, 255, 255, 0.42);
  border-bottom-right-radius: var(--dl-radius-radius-radius24);
}
.our-project-description-header {
  color: var(--dl-color-gray-black);
  width: 100%;
  font-size: 3rem;
  font-style: normal;
  margin-top: var(--dl-space-space-fiveunits);
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
}
.our-project-text002 {
  color: var(--dl-color-gray-black);
}
.our-project-description-text {
  color: var(--dl-color-gray-black);
  width: 70%;
  font-size: 12px;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-top: var(--dl-space-space-unit);
  text-align: left;
  font-family: Verdana;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-doubleunit);
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius24);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
  background-color: rgba(255, 255, 255, 0.42);
  border-bottom-right-radius: var(--dl-radius-radius-radius24);
}
.our-project-image {
  color: var(--dl-color-gray-black);
  width: 50%;
  font-size: 12px;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Verdana;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius24);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgba(255, 255, 255, 0.42);
  border-bottom-right-radius: var(--dl-radius-radius-radius24);
}
.our-project-description-text1 {
  color: var(--dl-color-gray-black);
  width: 70%;
  font-size: 12px;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-top: var(--dl-space-space-unit);
  text-align: left;
  font-family: Verdana;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-doubleunit);
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius24);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
  background-color: rgba(255, 255, 255, 0.42);
  border-bottom-right-radius: var(--dl-radius-radius-radius24);
}
.our-project-tools-and-technologies-header {
  color: var(--dl-color-gray-black);
  width: 100%;
  font-size: 3rem;
  font-style: normal;
  margin-top: var(--dl-space-space-fiveunits);
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
}
.our-project-image1 {
  color: var(--dl-color-gray-black);
  width: 50%;
  font-size: 12px;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Verdana;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius24);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgba(255, 255, 255, 0.42);
  border-bottom-right-radius: var(--dl-radius-radius-radius24);
}
.our-project-tools-and-technologies-text {
  color: var(--dl-color-gray-black);
  width: 70%;
  font-size: 12px;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-top: var(--dl-space-space-unit);
  text-align: left;
  font-family: Verdana;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-doubleunit);
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius24);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
  background-color: rgba(255, 255, 255, 0.42);
  border-bottom-right-radius: var(--dl-radius-radius-radius24);
}
.our-project-skills-required-header {
  color: var(--dl-color-gray-black);
  width: 100%;
  font-size: 3rem;
  font-style: normal;
  margin-top: var(--dl-space-space-fiveunits);
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
}
.our-project-skills-required-text {
  color: var(--dl-color-gray-black);
  width: 70%;
  font-size: 12px;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-top: var(--dl-space-space-unit);
  text-align: left;
  font-family: Verdana;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-doubleunit);
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius24);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
  background-color: rgba(255, 255, 255, 0.42);
  border-bottom-right-radius: var(--dl-radius-radius-radius24);
}
.our-project-outcome-header {
  color: var(--dl-color-gray-black);
  width: 100%;
  font-size: 3rem;
  font-style: normal;
  margin-top: var(--dl-space-space-fiveunits);
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
}
.our-project-text112 {
  color: var(--dl-color-gray-black);
}
.our-project-skills-required-text1 {
  color: var(--dl-color-gray-black);
  width: 70%;
  font-size: 12px;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-top: var(--dl-space-space-unit);
  text-align: left;
  font-family: Verdana;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-doubleunit);
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius24);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
  background-color: rgba(255, 255, 255, 0.42);
  border-bottom-right-radius: var(--dl-radius-radius-radius24);
}
.our-project-outcome-text {
  color: var(--dl-color-gray-700);
  font-size: 12px;
  max-width: 600px;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.our-project-icons-header {
  color: var(--dl-color-gray-black);
  width: 100%;
  font-size: 3rem;
  font-style: normal;
  margin-top: var(--dl-space-space-fiveunits);
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
}
.our-project-icons {
  width: 100%;
  margin: var(--dl-space-space-doubleunit);
  display: flex;
  padding: var(--dl-space-space-fourunits);
  max-width: var(--dl-size-size-maxcontent);
  align-self: center;
  margin-top: 1px;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: center;
}
.our-project-container2 {
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius24);
  flex-direction: row;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.42);
}
.our-project-currency {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-self: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}
.our-project-currency1 {
  width: 108px;
  height: 108px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  background-image: url("/playground_assets/traqstarz-200h.png");
}
.our-project-currency2 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.our-project-currency3 {
  color: var(--dl-color-gray-700);
  font-size: 14px;
  font-family: Verdana;
}
.our-project-trophy {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.our-project-trophy1 {
  width: 108px;
  height: 108px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  background-image: url("/playground_assets/trophy%20fastest%20time-200h.png");
}
.our-project-trophy2 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.our-project-trophy3 {
  color: var(--dl-color-gray-700);
  font-size: 14px;
  font-family: Verdana;
}
.our-project-trophy4 {
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  text-decoration: none;
}
.our-project-trophy5 {
  width: 108px;
  height: 108px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  background-image: url("/playground_assets/tropy%20tracks%20completed-200h.png");
}
.our-project-trophy6 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.our-project-trophy7 {
  color: var(--dl-color-gray-700);
  font-size: 14px;
  font-family: Verdana;
}
.our-project-badge {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-self: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}
.our-project-badge1 {
  width: 108px;
  height: 108px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  background-image: url("/playground_assets/badge%20tracks%20done%20monthy-200h.png");
}
.our-project-badge2 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.our-project-badge3 {
  color: var(--dl-color-gray-700);
  font-size: 14px;
  font-family: Verdana;
}
.our-project-badge4 {
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-self: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}
.our-project-badge5 {
  width: 108px;
  height: 108px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  background-image: url("/playground_assets/badge%20tracks%20created-200h.png");
}
.our-project-badge6 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.our-project-badge7 {
  color: var(--dl-color-gray-700);
  font-size: 14px;
  font-family: Verdana;
}
@media(max-width: 991px) {
  .our-project-overview-header {
    text-align: center;
  }
  .our-project-overview-text {
    text-align: center;
  }
  .our-project-motivation-header {
    text-align: center;
  }
  .our-project-motivation-text {
    text-align: center;
  }
  .our-project-description-header {
    text-align: center;
  }
  .our-project-description-text {
    text-align: center;
  }
  .our-project-image {
    text-align: center;
  }
  .our-project-description-text1 {
    text-align: center;
  }
  .our-project-tools-and-technologies-header {
    text-align: center;
  }
  .our-project-image1 {
    text-align: center;
  }
  .our-project-tools-and-technologies-text {
    text-align: center;
  }
  .our-project-skills-required-header {
    text-align: center;
  }
  .our-project-skills-required-text {
    text-align: center;
  }
  .our-project-outcome-header {
    text-align: center;
  }
  .our-project-skills-required-text1 {
    text-align: center;
  }
  .our-project-outcome-text {
    text-align: center;
  }
  .our-project-icons-header {
    text-align: center;
  }
  .our-project-icons {
    flex-direction: row;
    justify-content: flex-end;
  }
}
@media(max-width: 479px) {
  .our-project-icons {
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
}
