.references-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(255, 224, 224, 0.42);
}
.references-container1 {
  display: flex;
  align-items: center;
  padding-top: 100px;
  flex-direction: column;
  background-color: rgba(255, 224, 224, 0.42);
}
.references-references {
  color: var(--dl-color-gray-black);
  width: 70%;
  font-size: 12px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-top: var(--dl-space-space-unit);
  text-align: left;
  font-family: Verdana;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-doubleunit);
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius24);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
  background-color: rgba(255, 255, 255, 0.42);
  border-bottom-right-radius: var(--dl-radius-radius-radius24);
}
.references-text001 {
  color: var(--dl-color-primary-300);
}
.references-text005 {
  color: var(--dl-color-primary-300);
}
.references-text009 {
  color: var(--dl-color-primary-300);
}
.references-text014 {
  color: var(--dl-color-primary-300);
}
.references-text019 {
  color: var(--dl-color-primary-300);
}
.references-text024 {
  color: var(--dl-color-primary-300);
}
.references-text029 {
  color: var(--dl-color-primary-300);
}
.references-text034 {
  color: var(--dl-color-primary-300);
}
.references-text038 {
  color: var(--dl-color-primary-300);
}
.references-text043 {
  color: var(--dl-color-primary-300);
}
.references-text048 {
  color: var(--dl-color-primary-300);
}
.references-text052 {
  color: var(--dl-color-primary-300);
}
.references-text057 {
  color: var(--dl-color-primary-300);
}
.references-text063 {
  color: var(--dl-color-primary-300);
}
.references-text069 {
  color: var(--dl-color-primary-300);
}
.references-text075 {
  color: var(--dl-color-primary-300);
}
.references-text081 {
  color: var(--dl-color-primary-300);
}
.references-text087 {
  color: var(--dl-color-primary-300);
}
.references-text093 {
  color: var(--dl-color-primary-300);
}
.references-text099 {
  color: var(--dl-color-primary-300);
}
.references-text105 {
  color: var(--dl-color-primary-300);
}
.references-text111 {
  color: var(--dl-color-primary-300);
}
.references-text117 {
  color: var(--dl-color-primary-300);
}
.references-text122 {
  color: var(--dl-color-primary-300);
}
.references-text128 {
  color: var(--dl-color-primary-300);
}
.references-text134 {
  color: var(--dl-color-primary-300);
}
.references-text140 {
  color: var(--dl-color-primary-300);
}
.references-text146 {
  color: var(--dl-color-primary-300);
}
.references-text152 {
  color: var(--dl-color-primary-300);
}
.references-text157 {
  color: var(--dl-color-primary-300);
}
.references-text161 {
  color: var(--dl-color-primary-300);
}
.references-text165 {
  color: var(--dl-color-primary-300);
}
.references-text169 {
  color: var(--dl-color-primary-300);
}
.references-text173 {
  color: var(--dl-color-primary-300);
}
.references-text177 {
  color: var(--dl-color-primary-300);
}
.references-text181 {
  color: var(--dl-color-primary-300);
}
.references-text185 {
  color: var(--dl-color-primary-300);
}
.references-text189 {
  color: var(--dl-color-primary-300);
}
.references-text193 {
  color: var(--dl-color-primary-300);
}
.references-text197 {
  color: var(--dl-color-primary-300);
}
.references-text201 {
  color: var(--dl-color-primary-300);
}
.references-text205 {
  color: var(--dl-color-primary-300);
}
.references-text209 {
  color: var(--dl-color-primary-300);
}
.references-text213 {
  color: var(--dl-color-primary-300);
}
.references-text217 {
  color: var(--dl-color-primary-300);
}
.references-text221 {
  color: var(--dl-color-primary-300);
}
.references-text225 {
  color: var(--dl-color-primary-300);
}
.references-text229 {
  color: var(--dl-color-primary-300);
}
.references-text233 {
  color: var(--dl-color-primary-300);
}
.references-text237 {
  color: var(--dl-color-primary-300);
}
.references-text241 {
  color: var(--dl-color-primary-300);
}
.references-text245 {
  color: var(--dl-color-primary-300);
}
.references-text249 {
  color: var(--dl-color-primary-300);
}
.references-text253 {
  color: var(--dl-color-primary-300);
}
.references-text257 {
  color: var(--dl-color-primary-300);
}
.references-text261 {
  color: var(--dl-color-primary-300);
}
.references-text265 {
  color: var(--dl-color-primary-300);
}
.references-text269 {
  color: var(--dl-color-primary-300);
}
.references-text273 {
  color: var(--dl-color-primary-300);
}
.references-text277 {
  color: var(--dl-color-primary-300);
}
.references-text281 {
  color: var(--dl-color-primary-300);
}
.references-text285 {
  color: var(--dl-color-primary-300);
}
.references-text289 {
  color: var(--dl-color-primary-300);
}
.references-text293 {
  color: var(--dl-color-primary-300);
}
.references-text297 {
  color: var(--dl-color-primary-300);
}
.references-text301 {
  color: var(--dl-color-primary-300);
}
.references-text305 {
  color: var(--dl-color-primary-300);
}
.references-text309 {
  color: var(--dl-color-primary-300);
}
.references-text313 {
  color: var(--dl-color-primary-300);
}
.references-text318 {
  color: var(--dl-color-primary-300);
}
.references-text322 {
  color: var(--dl-color-primary-300);
}
.references-text328 {
  color: var(--dl-color-primary-300);
}
.references-text332 {
  color: var(--dl-color-primary-300);
}
.references-text336 {
  color: var(--dl-color-primary-300);
}
.references-text340 {
  color: var(--dl-color-primary-300);
}
.references-text344 {
  color: var(--dl-color-primary-300);
}
.references-text348 {
  color: var(--dl-color-primary-300);
}
.references-text352 {
  color: var(--dl-color-primary-300);
}
.references-text356 {
  color: var(--dl-color-primary-300);
}
.references-text361 {
  color: var(--dl-color-primary-300);
}
.references-text365 {
  color: var(--dl-color-primary-300);
}
.references-text369 {
  color: var(--dl-color-primary-300);
}
.references-text374 {
  color: var(--dl-color-primary-300);
}
.references-text379 {
  color: var(--dl-color-primary-300);
}
.references-text385 {
  color: var(--dl-color-primary-300);
}
.references-text391 {
  color: var(--dl-color-primary-300);
}
.references-text397 {
  color: var(--dl-color-primary-300);
}
.references-text403 {
  color: var(--dl-color-primary-300);
}
.references-text409 {
  color: var(--dl-color-primary-300);
}
.references-text415 {
  color: var(--dl-color-primary-300);
}
.references-text421 {
  color: var(--dl-color-primary-300);
}
.references-text427 {
  color: var(--dl-color-primary-300);
}
.references-text433 {
  color: var(--dl-color-primary-300);
}
.references-text439 {
  color: var(--dl-color-primary-300);
}
.references-text444 {
  color: var(--dl-color-primary-300);
}
.references-text450 {
  color: var(--dl-color-primary-300);
}
.references-text456 {
  color: var(--dl-color-primary-300);
}
.references-text462 {
  color: var(--dl-color-primary-300);
}
.references-text467 {
  color: var(--dl-color-primary-300);
}
.references-text470 {
  color: var(--dl-color-primary-300);
}
.references-text474 {
  color: var(--dl-color-primary-300);
}
.references-text479 {
  color: var(--dl-color-primary-300);
}
.references-text483 {
  color: var(--dl-color-primary-300);
}
.references-text487 {
  color: var(--dl-color-primary-300);
}
.references-text492 {
  color: var(--dl-color-primary-300);
}
.references-text498 {
  color: var(--dl-color-primary-300);
}
.references-text503 {
  color: var(--dl-color-primary-300);
}
.references-text508 {
  color: var(--dl-color-primary-300);
}
.references-text513 {
  color: var(--dl-color-primary-300);
}
.references-text518 {
  color: var(--dl-color-primary-300);
}
.references-text523 {
  color: var(--dl-color-primary-300);
}
.references-text528 {
  color: var(--dl-color-primary-300);
}
.references-text533 {
  color: var(--dl-color-primary-300);
}
.references-text538 {
  color: var(--dl-color-primary-300);
}
.references-text543 {
  color: var(--dl-color-primary-300);
}
.references-text548 {
  color: var(--dl-color-primary-300);
}
.references-text553 {
  color: var(--dl-color-primary-300);
}
.references-text558 {
  color: var(--dl-color-primary-300);
}
.references-text563 {
  color: var(--dl-color-primary-300);
}
.references-text568 {
  color: var(--dl-color-primary-300);
}
.references-text573 {
  color: var(--dl-color-primary-300);
}
.references-text578 {
  color: var(--dl-color-primary-300);
}
.references-text584 {
  color: var(--dl-color-primary-300);
}
.references-text590 {
  color: var(--dl-color-primary-300);
}
.references-text595 {
  color: var(--dl-color-primary-300);
}
.references-text601 {
  color: var(--dl-color-primary-300);
}
.references-text606 {
  color: var(--dl-color-primary-300);
}
.references-text612 {
  color: var(--dl-color-primary-300);
}
.references-text616 {
  color: var(--dl-color-primary-300);
}
.references-text620 {
  color: var(--dl-color-primary-300);
}
.references-text625 {
  color: var(--dl-color-primary-300);
}
.references-text629 {
  color: var(--dl-color-primary-300);
}
.references-text633 {
  color: var(--dl-color-primary-300);
}
.references-text637 {
  color: var(--dl-color-primary-300);
}
.references-text641 {
  color: var(--dl-color-primary-300);
}
.references-text645 {
  color: var(--dl-color-primary-300);
}
.references-text649 {
  color: var(--dl-color-primary-300);
}
.references-text653 {
  color: var(--dl-color-primary-300);
}
.references-text657 {
  color: var(--dl-color-primary-300);
}
.references-text661 {
  color: var(--dl-color-primary-300);
}
.references-text665 {
  color: var(--dl-color-primary-300);
}
.references-text669 {
  color: var(--dl-color-primary-300);
}
.references-text674 {
  color: var(--dl-color-primary-300);
}
.references-text678 {
  color: var(--dl-color-primary-300);
}
.references-text682 {
  color: var(--dl-color-primary-300);
}
.references-text686 {
  color: var(--dl-color-primary-300);
}
.references-text690 {
  color: var(--dl-color-primary-300);
}
.references-text696 {
  color: var(--dl-color-primary-300);
}
.references-text702 {
  color: var(--dl-color-primary-300);
}
@media(max-width: 991px) {
  .references-references {
    text-align: center;
  }
}
