.reflections-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
}
.reflections-container01 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: 100px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(255, 224, 224, 0.42);
}
.reflections-group-reflection {
  display: flex;
  padding: 32px;
  max-width: 1400px;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.reflections-container02 {
  color: var(--dl-color-gray-black);
  width: 70%;
  font-size: 12px;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Verdana;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-doubleunit);
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius24);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
  background-color: var(--dl-color-gray-white);
  border-bottom-right-radius: var(--dl-radius-radius-radius24);
}
.reflections-icon {
  width: 48px;
  margin-bottom: 32px;
}
.reflections-group {
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.reflections-group-reflection1 {
  font-size: 0.75rem;
  text-align: left;
  font-family: Verdana;
  margin-bottom: 48px;
}
.reflections-traqstarz {
  height: 110px;
  object-fit: cover;
  flex-shrink: 0;
  margin-bottom: var(--dl-space-space-halfunit);
}
.reflections-personal-reflections {
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: center;
}
.reflections-container03 {
  display: flex;
  max-width: 1400px;
  align-self: center;
  align-items: stretch;
  padding-top: 48px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 24px;
  justify-content: space-between;
}
.reflections-container04 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reflections-charlie-reflection {
  width: 100%;
  display: flex;
  padding: 32px;
  max-width: 1400px;
  align-self: stretch;
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: stretch;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
}
.reflections-icon02 {
  width: 48px;
  flex-shrink: 0;
  margin-bottom: var(--dl-space-space-halfunit);
}
.reflections-reflection {
  color: var(--dl-color-gray-500);
  font-size: 12px;
  text-align: justify;
  font-family: Verdana;
  padding-top: 48px;
  padding-bottom: 48px;
}
.reflections-profile {
  width: 100%;
  display: flex;
  margin-top: auto;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: row;
  justify-content: flex-start;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.reflections-charlie {
  width: 96px;
  height: 96px;
  object-fit: fill;
  border-radius: var(--dl-radius-radius-round);
}
.reflections-container05 {
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: space-between;
}
.reflections-student-name {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 0.25rem;
}
.reflections-container06 {
  flex: 2;
  height: auto;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: 32px;
  margin-right: 0px;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.reflections-container07 {
  display: flex;
  align-items: flex-start;
  margin-bottom: 32px;
  flex-direction: column;
  justify-content: flex-start;
}
.reflections-blayne-reflection {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  align-self: center;
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.1);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: space-between;
}
.reflections-thoughts {
  display: flex;
  align-items: flex-start;
  margin-right: 48px;
  flex-direction: column;
  justify-content: space-between;
}
.reflections-student-pic {
  width: 48px;
  flex-shrink: 0;
  margin-bottom: 32px;
}
.reflections-reflection1 {
  color: var(--dl-color-gray-500);
  font-size: 12px;
  text-align: justify;
  font-family: Verdana;
  margin-bottom: 32px;
}
.reflections-container08 {
  width: 100%;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: row;
  justify-content: space-between;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.reflections-student-name1 {
  font-size: 14px;
  text-align: left;
  font-weight: 600;
}
.reflections-container09 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: column;
  justify-content: space-between;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.reflections-blayne {
  width: 100px;
  height: 100px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-round);
}
.reflections-burak-reflection {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  align-self: center;
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: flex-end;
}
.reflections-thoughts1 {
  display: flex;
  align-items: flex-start;
  margin-right: 48px;
  flex-direction: column;
  justify-content: space-between;
}
.reflections-icon05 {
  width: 48px;
  flex-shrink: 0;
  margin-bottom: 32px;
}
.reflections-reflection2 {
  color: var(--dl-color-gray-500);
  font-size: 12px;
  text-align: justify;
  font-family: Verdana;
  margin-bottom: 32px;
}
.reflections-container10 {
  width: 100%;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: row;
  justify-content: space-between;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.reflections-student-name2 {
  font-size: 14px;
  text-align: left;
  font-weight: 600;
}
.reflections-burak {
  width: 100px;
  height: 100px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-round);
}
.reflections-personal-reflections1 {
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: center;
}
.reflections-container11 {
  display: flex;
  max-width: 1400px;
  align-self: center;
  align-items: stretch;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 48px;
  justify-content: space-between;
}
.reflections-container12 {
  flex: 2;
  height: auto;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.reflections-container13 {
  display: flex;
  align-items: flex-start;
  margin-bottom: 32px;
  flex-direction: column;
  justify-content: flex-start;
}
.reflections-jake-reflection {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  align-self: center;
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: space-between;
}
.reflections-thoughts2 {
  display: flex;
  align-items: flex-start;
  margin-right: 48px;
  flex-direction: column;
  justify-content: space-between;
}
.reflections-student-pic1 {
  width: 48px;
  flex-shrink: 0;
  margin-bottom: 32px;
}
.reflections-reflection3 {
  color: var(--dl-color-gray-500);
  font-size: 12px;
  text-align: justify;
  font-family: Verdana;
  margin-bottom: 32px;
}
.reflections-container14 {
  width: 100%;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: row;
  justify-content: space-between;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.reflections-student-name3 {
  font-size: 14px;
  text-align: left;
  font-weight: 600;
}
.reflections-container15 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: column;
  justify-content: space-between;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.reflections-jake {
  width: 100px;
  height: 100px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-round);
}
.reflections-michelle-reflection {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  align-self: center;
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: space-between;
}
.reflections-thoughts3 {
  display: flex;
  align-items: flex-start;
  margin-right: 48px;
  flex-direction: column;
  justify-content: space-between;
}
.reflections-icon08 {
  width: 48px;
  flex-shrink: 0;
  margin-bottom: 32px;
}
.reflections-reflection4 {
  color: var(--dl-color-gray-500);
  font-size: 12px;
  text-align: justify;
  font-family: Verdana;
  margin-bottom: 32px;
}
.reflections-container16 {
  width: 100%;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: row;
  justify-content: space-between;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.reflections-student-name4 {
  font-size: 14px;
  text-align: left;
  font-weight: 600;
}
.reflections-michelle {
  width: 100px;
  height: 100px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-round);
}
.reflections-container17 {
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: 32px;
  justify-content: space-between;
}
.reflections-helia-reflection {
  width: 100%;
  display: flex;
  padding: 32px;
  max-width: 1400px;
  align-self: stretch;
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: stretch;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
}
.reflections-icon10 {
  width: 48px;
  flex-shrink: 0;
  margin-bottom: var(--dl-space-space-halfunit);
}
.reflections-reflection5 {
  color: var(--dl-color-gray-500);
  font-size: 12px;
  text-align: justify;
  font-family: Verdana;
  padding-top: 48px;
  padding-bottom: 48px;
}
.reflections-profile1 {
  width: 100%;
  display: flex;
  margin-top: auto;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: row;
  justify-content: flex-start;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.reflections-helia {
  width: 96px;
  height: 96px;
  object-fit: fill;
  border-radius: var(--dl-radius-radius-round);
}
.reflections-container18 {
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: space-between;
}
.reflections-student-name5 {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 0.25rem;
}
@media(max-width: 991px) {
  .reflections-container02 {
    text-align: center;
  }
  .reflections-container03 {
    flex-direction: column;
  }
  .reflections-icon02 {
    height: 96px;
  }
  .reflections-profile {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .reflections-charlie {
    margin-left: 0px;
  }
  .reflections-container06 {
    margin-right: 0px;
    margin-bottom: 32px;
  }
  .reflections-container11 {
    flex-direction: column;
  }
  .reflections-container12 {
    margin-right: 0px;
    margin-bottom: 32px;
  }
  .reflections-icon10 {
    height: 96px;
  }
  .reflections-profile1 {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .reflections-helia {
    margin-left: 0px;
  }
}
@media(max-width: 767px) {
  .reflections-icon {
    height: 48px;
  }
  .reflections-container03 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .reflections-blayne-reflection {
    padding-left: 32px;
    padding-right: 32px;
  }
  .reflections-thoughts {
    margin-right: 32px;
  }
  .reflections-student-pic {
    height: 48px;
  }
  .reflections-burak-reflection {
    padding-left: 32px;
    padding-right: 32px;
  }
  .reflections-thoughts1 {
    margin-right: 32px;
  }
  .reflections-icon05 {
    height: 48px;
  }
  .reflections-container11 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .reflections-jake-reflection {
    padding-left: 32px;
    padding-right: 32px;
  }
  .reflections-thoughts2 {
    margin-right: 32px;
  }
  .reflections-student-pic1 {
    height: 48px;
  }
  .reflections-michelle-reflection {
    padding-left: 32px;
    padding-right: 32px;
  }
  .reflections-thoughts3 {
    margin-right: 32px;
  }
  .reflections-icon08 {
    height: 48px;
  }
}
@media(max-width: 479px) {
  .reflections-group-reflection {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .reflections-container03 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .reflections-charlie-reflection {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .reflections-profile {
    justify-content: center;
  }
  .reflections-blayne-reflection {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: 32px;
  }
  .reflections-thoughts {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .reflections-reflection1 {
    text-align: left;
  }
  .reflections-container08 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .reflections-burak-reflection {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: 32px;
  }
  .reflections-thoughts1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .reflections-reflection2 {
    text-align: left;
  }
  .reflections-container10 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .reflections-container11 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .reflections-jake-reflection {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: 32px;
  }
  .reflections-thoughts2 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .reflections-reflection3 {
    text-align: left;
  }
  .reflections-container14 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .reflections-michelle-reflection {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: 32px;
  }
  .reflections-thoughts3 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .reflections-reflection4 {
    text-align: left;
  }
  .reflections-container16 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .reflections-helia-reflection {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .reflections-profile1 {
    justify-content: center;
  }
}
